.pagewidth {
  background-color: #fff;
  box-shadow: none;
}

header nav {
  display: none;
}

.text-column {
  width: 100%;
  margin-right: 0;
}

.responsive-image {
  max-width:100%;
  height:auto;
  width: 100%;
}

.responsive-movie {
  max-width:100%;
  height:auto;
  width: 100%;
}

.images-right {
  width: 100%;
  float: none;
}

.images-column {
  width: 100%;
  float: none;
  clear: left;
}

.image-350-left, .image-350-right {
  width: 100%;
  margin: 0;
  float: none;
}

.image-230-left, .image-230-middle, .image-230-right {
  width: 100%;
  margin: 0;
  float: none;
}

.hide-break {
  display: none;
}

.hide-text-responsive {
  display: none;
}

.hide-image-responsive {
  display: none;
}

body {
  font-family: "FuturaStd-Light", "MS Sans Serif4", "Geneva", sans-serif;
  font-size: 12pt;
  line-height: 140%;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

h1 {
  font-family: "FuturaStd-CondensedBold", Impact, "Impact5", "Charcoal6", sans-serif;
  font-size: 24pt;
  line-height: 100%;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 40px;
}

h2 {
  font-family: "FuturaStd-Light", "MS Sans Serif4", "Geneva", sans-serif;
  font-size: 14pt;
  line-height: 110%;
  letter-spacing: 0.5px;
}

h3 {
  font-family: "FuturaStd-Book", "MS Sans Serif4", "Geneva", sans-serif;
  font-size: 14pt;
  text-align: left;
  font-weight: lighter;
}

h4 {
  font-family: "FuturaStd-CondensedLight", "MS Sans Serif4", "Geneva", sans-serif;
  font-size: 14pt;
  line-height: 5%;
}

figcaption {
  font-family: "FuturaStd-CondensedLight", "MS Sans Serif4", "Geneva", sans-serif;
  font-size: 16pt;
}

.headline-above-2-images-headlines {
  font-family: "FuturaStd-CondensedLight", "MS Sans Serif4", "Geneva", sans-serif;
  font-size: 24pt;
}

.page-break-after {
  page-break-after: always;
}