/*  Av Anna Carlsson, 2016
    External stilmall till min hemsida */

/*Generell design*/
body {
  font-family: "futura-pt",'Muli',sans-serif;
  font-weight: 300;
  font-size: 13pt;
  line-height: 125%;
  text-align: justify;
  color: #000;
  background-color: #fff;
}

.pagewidth {
  width: 950px;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

/*Text*/
p {
  margin: 0;
  margin-bottom: 10px;
}

h1 {
  font-family: "futura-pt-condensed",'Roboto Condensed',sans-serif;
  font-weight: bold;
  font-size: 22pt;
  line-height: 100%;
  text-transform: uppercase;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 40px;
}

h2 {
  font-family: "futura-pt",'Muli',sans-serif;
  font-weight: lighter;
  font-size: 11.4pt;
  line-height: 110%;
  text-transform: uppercase;
  text-align: right;
  font-weight: lighter;
}

h3 {
  font-family: "futura-pt",'Muli',sans-serif;
  font-weight: lighter;
  font-size: 12pt;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}

h4 {
  font-family: "futura-pt-condensed",'Roboto Condensed',sans-serif;
  font-size: 18pt;
  text-transform: uppercase;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 10px;
}

h5 {
  font-family: "futura-pt-condensed",'Roboto Condensed',sans-serif;
  font-size: 16pt;
  text-transform: uppercase;
  font-weight: lighter;
  margin-top: -10px;
  margin-bottom: 0px;
}

h6 {
  font-family: "futura-pt-condensed",'Roboto Condensed',sans-serif;
  font-size: 16pt;
  text-transform: uppercase;
  text-align: left;
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 20px;
}

figcaption {
  font-family: "futura-pt-condensed",'Roboto Condensed',sans-serif;
  font-size: 14pt;
  text-transform: uppercase;
  text-align: right;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 2px;
}

.headline-above-2-images-headlines {
  font-family: "futura-pt-condensed",'Roboto Condensed',sans-serif;
  font-size: 16pt;
  text-transform: uppercase;
  text-align: right;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 2px;
}

.headline-underneath-main-headline {
  margin-top: 0;
}

.text-align-left {
  text-align: left;
}

ol {
  padding-top: 17px;
  padding-left: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
}

li {
  font-size: 10.5pt;
  line-height: 100%;
}

sup {
  vertical-align: super;
  line-height: 0;
}

/*Länkar*/
a {
  color: #2d5aac;
  text-decoration: none;
}

a:hover {
  color: #7d7d7d;
}

.active {
  font-weight: 400;
}

.blacklink{
  color: #000;
}

.backto {
  clear: both;
  position: relative;
}

.linkbackto {
  display: block;
  position: absolute;
  top: -20px;
}


/*Huvudmeny*/
header nav {
  position: absolute;
  top: 43px;
  right: 110px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav li {
  display: inline;
}

header nav a {
  font-size: 14pt;
  text-transform: lowercase;
  margin-left: 110px;
}


/*Bilder*/
img {
  display: block;
}

figure {
  margin-top: 10px;
  margin: 0;
}


/*Framsida*/
.overlay-frontpage-headline {
  position: absolute;
  top: 17px;
  left: 100px;
  font-size: 30pt;
  text-shadow: 1px 2px 3px #666;
  text-align: left;
}

.front-image-container {
  display: block;
  position: relative;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}


/*Bildmenyer*/
.header-menues {
  margin-top: 10px;
  margin-bottom: 10px;
}

.imagelink {
  display: block;
  float: left;
}

.imagelink:hover {
  opacity: 0.5;
}

.nohover {
  display: block;
  float: left;
}

.hide-text-in-menue {
  display:none;
}

/*Marginaler*/
.margin-top-3 {
  margin-top: 3px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-top-right-bottom-10 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.margin-top-right-10 {
  margin-right: 10px;
  margin-top: 10px;
}

.margin-top-bottom-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-right-bottom-10 {
  margin-right: 10px;
  margin-bottom: 10px;
}

.margin-top-text {
  margin-top: 33px;
}

.margin-intro {
  margin-top: 55px;
}


/*Layout 230px text + 710px bilder*/
.text-column {
  width: 230px;
  float: left;
  margin-right: 10px;
  box-sizing: border-box;
  padding-right: 10px;
}

.images-column {
  width: 710px;
  float: left;
  display: block;
}


/*350 px bilder med rubriker*/
.image-350-left{
  width: 350px;
  margin-right: 10px;
  float: left;
}

.image-350-right{
  width: 350px;
  float: left;
}


/*230 px bilder med rubriker*/
.image-230-left{
  width: 230px;
  margin-right: 10px;
  float: left;
}
.image-230-middle{
  width: 230px;
  margin-right: 10px;
  float: left;
}

.image-230-right{
  width: 230px;
  float: left;
}

.clear-left {
  clear: left;
}


/*About me sidan*/
.background-image {
  background-image: url(../images/backgroundimage.jpg);
  margin-top: 10px;
}

.backgroundimage2 {
  display: none;
}

.introduction {
  width:350px;
}

.text-cv {
  padding: 0;
  margin:0;
  display: flex;
  display:-webkit-flex;
  text-align: left;
}

.labels {
  font-weight: bolder;
  text-align: right;
  padding: 0;
  margin:0;
  width: 220px;
  float: left;
  margin-right: 10px;
}

.main-labels {
  font-family: "futura-pt-condensed",sans-serif;
  font-size: 14pt;
  text-transform: uppercase;
  text-align: left;
  font-weight: lighter;
  padding: 0;
  margin:0;
}


/*Sidfot*/
.text-footer {
  margin: 10px;
}

footer {
  clear: left;
  text-align: center;
}











/*Responisve deign*/
@media screen and (max-width: 768px) {

  .pagewidth {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .text-column, .introduction {
      width: 100%;
      margin-right: 0;
      float: none;
  }

  .images-column {
      width: 100%;
      float: none;
      clear: left;
  }

  .image-350-left, .image-350-right {
    width: 100%;
    margin:0;
    float: none;
  }

  .image-230-left, .image-230-middle, .image-230-right {
    width: 100%;
    margin:0;
    float: none;
  }

  .responsive-image {
    max-width: 100%;
    height: auto;
    width: 100%;
  }

  .responsive-movie {
    max-width:100%;
    height: auto;
    width: 100%;
  }

  .hide-image-responsive {
    display:none;
  }

  .hide-text-responsive {
    display:none;
  }

  .logo-menu {
    margin: 0;
    margin-top: 0px;
    max-width: 100%;
    height: auto;
    width: 100%;
  }

  .logo {
    max-width: 100px;
    height: auto;
    width: 100%;
  }

.linkbackto {
  position: static;
  padding-top: 10px;
}

  /*Huvudmeny*/
  header nav {
    right: 20px;
  }

  header nav a {
    font-size: 100%;
    margin-left: 80px;
  }

  /*Bildmeny*/
  .hide-text-in-menue {
  display:block;
}

  h6 {
    margin-top: 7px;
  }

/*Framsida*/
  .overlay-frontpage-headline {
    top: 0px;
    left: 30px;
    font-size: 20pt;
    text-shadow: 1px 1px 1px #666;
  }

/*About me sidan*/

.margin-intro {
  margin-top: 20px;
}

  .background-image {
    background-image: none;
  }

  .backgroundimage2 {
    display: block;
  }

  .cv-responsive {
    width: 100%;
    margin-right: 0;
  }

  h4 {
    margin-top: 20px;
    margin-bottom: 5px;
  }

}


@media screen and (max-width: 700px) {

  /*Huvudmeny*/
  header nav {
    right: 0px;
    position: static;
  }

  header nav a {
    font-size: 100%;
    margin-right: 0;
    margin-left: 30px;
  }

  .overlay-frontpage-headline {
    top: 10px;
    left: 20px;
    font-size: 18pt;
  }

}


@media screen and (max-width: 480px) {

  /*Huvudmeny*/
  header nav {
    position: static;
  }

  header nav ul {
    list-style-type: none;
    padding: 0;
  }

  header nav a:hover {
    color: #000;
    opacity: 0.5;
  }

  .whitelink {
    color: #fff;
  }

  header nav a {
    font-size: 13pt;
    display: block;
    background-color: #444;
    padding: 7px;
    margin-bottom: 5px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    margin-left: 0;
    margin-right: 0;
  }

  header nav a:hover {
    opacity:0.5;
  }

  header nav {
    position: static;
  }

  header nav ul {
    list-style-type: none;
    padding: 0;
  }

  header nav a:hover {
    color: #000;
    opacity: 0.5;
  }

  .backto {
    color: #fff;
    font-size: 13pt;
    display: block;
    background-color: #444;
    padding: 7px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    margin-left: 0;
    margin-right: 0;
  }

  .backto:hover {
    opacity:0.5;
  }


/*Framsida*/
  .overlay-frontpage-headline {
    top:6px;
    left:8px;
    font-size: 16pt;
  }

/*Text*/
  body {
    font-size: 10pt;
    line-height: 130%;
  }
  p {
    margin: 0;
    margin-bottom: 10px;
  }

    h1 {
      font-size: 16pt;
      margin-top: 10px;
      margin-bottom: 20px;
    }


  h2 {
    font-size: 10pt;
    line-height: 100%;
  }

  h3 {
    font-size: 10pt;
  }

  h5 {
    font-family: "futura-pt",sans-serif;
    font-weight: lighter;
    font-size: 13pt;
    text-transform: lowercase;
  }

  h6 {
    font-size: 10pt;
    margin-top: 1px;
  }

  figcaption {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 2px;
  }

  .headline-above-2-images-headlines {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 2px;
  }

  li {
    font-size: 10pt;
    line-height: 100%;
  }

/*About me sidan*/
  .text-cv {
    padding: 0;
    margin:0;
    display: flex;
    display:-webkit-flex;
    text-align: left;
  }

  h4 {
    font-size: 14pt;
  }

  .main-labels {
    font-size: 12pt;
    padding: 0;
    margin:0;
  }

  .labels {
    padding: 0;
    margin:0;
    width: 90px;
    float: left;
    margin-right: 10px;
  }

  .overflow-hidden {
    overflow: hidden;
}


}